{% extends "base.html" %}

{% block title %}
  Welcome to the system
{% endblock %}

{% block content %}

<div style="padding:28px;">
  <form class="row g-3" action="{% url 'printbill:printbill' %}" method="post">
    {% csrf_token %}
    <div class="col-md-6 mb-3">
      <label for="customerName" class="form-label">Customer Name</label>
      <input type="text" class="form-control" id="customerName" name="customer_name" style="width: 100%;">
    </div>
    <div class="col-md-6 mb-3">
      <label for="address" class="form-label">Address</label>
      <input type="text" class="form-control" id="address" name="address" style="width: 100%;">
    </div>
    <div class="col-md-6 mb-3">
      <label for="phoneNumber" class="form-label">Phone Number</label>
      <input type="text" class="form-control" id="phoneNumber" name="phone_number" style="width: 100%;">
    </div>
    <div class="col-md-6 mb-3">
      <label for="watchName" class="form-label">Watch Model</label>
      <input type="text" class="form-control" id="watchName" name="watch_model" style="width: 100%;">
    </div>
    <div class="col-md-6 mb-3">
      <label for="price" class="form-label">Price</label>
      <input type="number" class="form-control" id="price" name="price" style="width: 100%;">
    </div>
    <div class="col-md-6 mb-3">
      <label for="phone" class="form-label">Quantity</label>
      <input type="number" class="form-control" id="phone" name="quantity" style="width: 100%;">
    </div>
    <div class="col-md-6 mb-3">
      <label for="payment_method" class="form-label">Payment Method</label>
      <input type="text" class="form-control" id="payment_method" name="payment_method" style="width: 100%;">
    </div>
    <div class="col-12 mb-3">
      <label for="additionalInfo" class="form-label">Note</label>
      <textarea class="form-control" id="additionalInfo" name="note" rows="4" style="width: 100%;"></textarea>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary btn-block" style="width:206px; text-align:center !important;margin-left:400px;">Generate Bill</button>
    </div>
  </form>
  
</div>



{% endblock %}
